<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cadena_conexion"
            connectionString="Data Source=LAPTOP-MAURI;Initial Catalog=DB_TECHGOAL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>